.last:hover{
    border: 2px solid grey;
    font-size: 20px;
    opacity: 0.5;
    color: black;
}
.paragraphs{
    width: auto;

}
.parent{
    position: relative;
}
img{
    position: absolute;
    top: 10%;
    right: 10%;
    background-color: white;
    border:1px solid black;
    
}