.last:hover{
    border: 2px solid grey;
    background-color: white;
    display:inline-block;
    color: rgb(41, 41, 41);
    transform: translateY(-20%);
    transform: translateX(-5%);
    font-weight: normal;
}
.last{
    font-weight:bold;
}
.paragraphs{
    width: auto;

}
.parent{
    position: fixed;
    background-image: url("/task_19_6/blue\ guy.png");
    background-color: white;
    background-repeat: repeat-y;
    border: 1px solid black;
    width: 200px;
    height: 600px;
    background-size: 100%;
    top: 30px;
    right: 40px;
}